<div id="CartDrawer" class="drawer drawer--right">
  <div class="drawer__header">
    <div class="table-cell drawer__header__left">
    <span class="drawer__close js-drawer-close">
        <img src="{{'close-cart.svg' | asset_url}}">
    </span>
    </div>
    <div class="table-cell drawer__header__right">
    <h3>{{ 'cart.general.title' | t }}</h3>
    </div>
  </div>
  <div id="CartContainer"></div>
  <div class="drawer__footer">
    <a href="/collections" class="drawer__cart__btn">
      <span>Shop Now</span>
    </a>
  </div>
</div>