<section class="home-hero">
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item">
        <div class="bar"></div>
      </div>
      <div class="grid__item large-up--two-thirds">
        <div class="left-wrapper">
          <p>Support &amp; Shop Local</p>
          <a href="javascript:void(0)" class="btn btn-shop">Shop Now</a>
        </div>
      </div>
      <div class="grid__item large-up--one-third">
        <div class="right-banner">
          <p class="title">New Holiday Styles</p>
          <a href="javascript:void(0)" class="btn btn-shop">Shop Collection</a>
        </div>
        <a href="javascript:void(0)" class="btn btn-all">Shop All Holiday Styles</a>
      </div>
    </div>
  </div>
</section>