<!-- /templates/page.sales-models.liquid -->
<div class="page-sales-models">
  <div class="grid--full banner">
    <div class="gird__item one-whole text-center">
      <h1>We help you to sell</h1>
    </div>
  </div>

  <div class="wrapper sales-box-wrapper">

    <div class="grid">

      <div class="grid__item small--one-whole medium--one-half large--one-quarter">
        <div class="sales-box">
          <h4>Sell Merchandise</h4>
          <div class="box-header">
            <p><i>Earn up to 25%!</i></p>
            <p>Set up your store front and start earning money today</p>
            <p>No cost and no risk</p>
          </div>
          <a href="/pages/contact-us" class="btn-contact-us">Contact Us</a>
          <p>Free branded ecommerce store front, no start up fees</p>
          <p>99 mainstreet pays you 15% on all merchandise sales</p>
          <p>Earn an additional 10% on 
            merchandise sales when your 
            registered link directs sales to your 
            99mainstreet store front </p>
          <p>On demand items, no inventory 
            commitments</p>
          <p>Bulk order programs</p>
          <p>Custom items available</p>
          <p>Existing items can be sold</p>
          </p>
        </div>
      </div>

      <div class="grid__item small--one-whole medium--one-half large--one-quarter">
        <div class="sales-box">
          <h4>Fundraising</h4>
          <div class="box-header">
            <p><i>Earn 25%!</i></p>
            <p>Set up your store front and start earning money today</p>
            <p>No cost and no risk</p>
          </div>
          <a href="/pages/contact-us" class="btn-contact-us">Contact Us</a>
          <p>Free branded ecommerce store front, 
            no start up fees</p>
          <p>99 mainstreet pays you 25% on 
            all merchandise sales</p>
          <p>On demand items, no inventory 
            commitments</p>
          <p>Bulk order programs</p>
          <p>Custom items available</p>
        </div>
      </div>


      <div class="grid__item small--one-whole medium--one-half large--one-quarter">
        <div class="sales-box">
          <h4>Drop Ship</h4>
          <div class="box-header">
            <p>You have products that you would like to ship yourself, go for it!</p>
          </div>
          <a href="/pages/contact-us" class="btn-contact-us">Contact Us</a>
          <p>Free branded ecommerce store front, 
            no start up fees</p>
          <p>99mainstreet processes the order and
            you ship the order</p>
          <p>2% of sale or $ .25 per item minimum 
            for order processing</p>
          <p>3% of sale for credit card processing</p>
          <p>You handle shipping</p>
        </div>
      </div>

      <div class="grid__item small--one-whole medium--one-half large--one-quarter">
        <div class="sales-box">
          <h4>Fulfillment</h4>
          <div class="box-header">
            <p>We have you covered</p>
          </div>
          <a href="/pages/contact-us" class="btn-contact-us">Contact Us</a>
          <p>Free branded ecommerce store front, 
          <p>no start up fees</p>

          <p>99mainstreet processes and ships 
            the order</p>

          <p>2% of sale or $ .25 per item minimum 
            for order processing</p>

          <p>3% of sale for credit card processing</p>

          <p>7% of sale or $ .25 per item minimum 
            for warehouseing and fulfillment
            ($3.00 order minimum)</p>

          <p>Shipping cost additional</p>
        </div>
      </div>

      <div class="grid__item ten-twelfths push--one-twelfth">
        <h4 class="desc-part">99mainstreet is dedicated to companies and organizations that are looking for a turn-key 
        ecommerce solution to promote and enhance their businesses.  We provide several options 
        that allow you to promote your organization and products without the costly startup fees or 
        on-going maintenance charges.<br>
        <strong>Fast turnaround  |  Customization  |  No Minimums  |  No Hidden Fees</strong>
        </h4>
      </div>
    </div>
  </div>

  <div class="grid--full">
    <div class="grid__item push--one-third two-thirds push--small--two-tenths small--eight-tenths">
      <div class="footer-banner">
        <h4>Still have questions?</h4>
        <p>Ask about our programs, fundraising, implementation, or anything else — our highly trained reps are standing by, ready to help.</p>
        <a href="" class="btn-contact-us">Contact Us</a>
        <h5>Or <a class="call-us" href="tel:+18771234567">call 1-877-123-4567</a></h5>
        {{ 'question_mark-min.png' | asset_img_url: '300x300' | img_tag }}
      </div>
    </div>
  </div>
</div>